header{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
}
.logo{
    height: 50px;
    
}

header li{
    float: left;
    padding-right: 30px;
}

footer img{
    height: 50px;
}