header{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
    
}
.logo{
    height: 80px;
    padding-top: 20px;
    
}

header li{
    float: right;
    margin-left: 30px;
    padding-right: 30px;
}

.contents{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
}

footer{
    margin-top: 80px;
}
footer img{
    height: 50px;
}